.base-img{
	display: flex;
	justify-content: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.base-img-nav{
	padding-left: 20px;
}

@media(max-width: 768px){
	.base-img{
		display: flex;
		justify-content: center;
		position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	}
}